
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBusinessLabel" translate="traqtionApp.business.home.createOrEditLabel">Create or edit a Business</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="business.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="traqtionApp.business.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="business.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="traqtionApp.business.displayName" for="field_displayName">DisplayName</label>
            <input type="text" class="form-control" name="displayName" id="field_displayName"
                    ng-model="business.displayName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="traqtionApp.business.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="business.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="traqtionApp.business.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="business.description"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
